@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme {
  --font-sans: "Inter", system-ui, sans-serif;
  --font-display: "Playfair Display", serif;

  /* Цвета */
  --color-warm-bg: #2c2118;
  --color-warm-card: #3a2a20;
  --color-warm-accent: #d4a017;
  --color-warm-accent-light: #f5c76b;
  --color-warm-accent-dark: #a67c00;
  --color-warm-text: #f5ede4;
  --color-warm-text-light: #ede0d0;
  --color-warm-muted: #d4a01780;
}

body {
  background-color: var(--color-warm-bg);
  color: var(--color-warm-text);
  font-family: var(--font-sans);
}
